<header class="header">
    <a  class="logo"><img src="/assets/img/Atlas/Logos/logo-group.svg" alt=""></a>
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i>
    </label>
    <nav class="Navbar">
        <a routerLink="/" routerLinkActive="router-link-active"   >Inicio</a>
        <a routerLink="/proyectos" routerLinkActive="router-link-active"   >Proyectos</a>
        <a routerLink="/shop">Tienda</a>
        <a routerLink="/contact">Contactanos</a>
    </nav>
</header>


