<div class="projects">        
    <div> <a > <img class="project"  src="assets/img/Atlas/delta/entrada.png" alt=""> <h5>Delta</h5></a></div>
    <div> <a > <img class="project" src="assets/img/Atlas/deko/deko.png" alt=""> <h5>Deko</h5></a> </div>
    <div> <a ><img class="project" src="assets/img/Atlas/siembra/siembra1.png" alt=""> <h5>Siembra Cosecha</h5></a></div>
    <div> <a ><img class="project" src="assets/img/Atlas/rsv/rsv2.JPG" alt=""> <h5>Club de Oficiales de la Policia</h5></a></div>
    <div> <a ><img class="project" src="assets/img/Atlas/jdp/jdp.png" alt=""> <h5>Viña</h5></a></div>
    <div> <a ><img class="project" src="assets/img/Atlas/tumbaco/IMG_0486.JPG" alt=""> <h5>Tumbaco</h5></a></div>
    <div> <a><img  class="project" src="assets/img/Atlas/condado/condado.png" alt=""> <h5>Condado</h5></a></div>
    <div> <a><img class="project" src="assets/img/Atlas/chaco/chaco1.png" alt=""> <h5>Puyo</h5></a></div>
</div>