.projects{
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
    grid-template-rows: 30rem 30rem 30rem;
    gap: 30px;
    margin: 120px 30px 10px 30px;
}
.project {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    align-items: center;
}
.projects h5 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}  
.projects a {
    text-decoration: none;
    color: black;
} 
@media (max-width: 992px){
}

@media (max-width: 768px){
    .projects{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .project{
        box-sizing: border-box;
        width: 100%;
    }
   
}