<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/lausanne" rel="stylesheet">   
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  
<!--Imagen principal-->
<div class="headerImage"></div>
<!--Texto dinamico-->
<Main>
    <section>
        <article class="IntroText"> 
            <header class="IntroTextFirst">
                <h3>Diseño Y Arquitectura</h3>
                <p>ATLAS es un estudio de Diseño de interiores y Construccion dinámico y orientado al futuro que 
                    opera en la interfaz entre diseño y construcción. Nuestra pasión radica en el diseño del 
                    entorno construido, especializándonos en arquitectura en diversas tipologías y escalas. 
                    No sólo somos diseñadores, sino también visionarios 
                    comprometidos con un futuro donde la innovación y la creatividad son primordiales.
                    Bienvenido a ATLAS, donde la innovación se encuentra con la arquitectura y el futuro es nuestro lienzo.</p>
            </header>
            <img class="IntroTextImage" src="/assets/img/Atlas/viña/pic1.png" alt=""> 
        </article>
    </section>
    <h2 class="LastProjects">Ultimos Projectos</h2>    
    <div class="PojectsParent">
        <div class="Project"><a routerLink="proyectos/rancho-san-vicente"><img src="/assets/img/Atlas/rancho-san-vicente/main.png" alt=""></a></div>
        <div class="Project"><a routerLink="proyectos/rancho-san-vicente"><img src="/assets/img/Atlas/viña/main.png" alt=""></a></div>
        <div class="Project"><a routerLink="proyectos/chaco"><img src="/assets/img/Atlas/chaco/main.png" alt=""></a></div>
    </div>
   <article>
        <div class="contentChild">
                <img src="/assets/img/Atlas/delta/pic1.png"  alt="">
                <span>Siempre estamos abiertos a Colaborar</span>
                <p>Nuestra visión es estar a la vanguardia de la innovación arquitectónica,
                    por lo que sabemos que colaboración es importante.
                    Cada espacio es una experiencia y cada proyecto cuenta.
                    Únase a nosotros en este viaje mientras nos embarcamos en una emocionante aventura para hacer realidad los sueños.
                    Juntos construiremos, crearemos y soñaremos con un futuro mejor y más hermoso para todos.</p>
                <a href="https://new.bat.archi/contact">Contactanos</a>
        </div>
   </article>
</Main>

