*{
    font-family: Questrial;
}
.headerImage{
    background-image: url('/assets/img/Atlas/viña/pic1.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: relative;
}
.dinamic{
    position: absolute;
    font-size: 64px;
    text-align: center;
    align-items: center;
    z-index: 10;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    bottom: 300px;
    margin-left: 30px;
}
.IntroText{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns:  repeat(2,minmax(auto, 600px));
    height: 600px;
    margin: 30px;
    margin-top: 20px;
}
.IntroTextFirst h3{
    font-size: 64px;
    font-weight: 800;
    display: grid;
}
.IntroTextFirst p{
    font-size: 24px;
    font-weight: 400;   
    padding: 0px 0px 33px;
    text-align: left;
}
.IntroTextImage {
    display: grid;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.LastProjects{ 
    text-align: center;
    font-size: 64px;
    font-weight: 800;
}
.PojectsParent{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 30%));
    gap: 20px;
    margin: 30px;
    justify-content: center;
}
.Project{
    font-size: 2rem;
    height: 400px;
    box-sizing: border-box;
}
.Project img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.contentChild{
    display: grid;
    grid-template-columns: repeat(1,minmax(auto, 600px));
    gap: 30px;
    margin: 2rem;
    justify-content: center;
    align-content: center;
}
.contentChild img { 
    height: 100%;
    object-fit: cover;
    width: 100%;
    box-sizing: border-box;
}
.contentChild span{
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}
.contentChild p{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.contentChild a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 768px){
    .IntroText {
        display: grid;
        grid-template-columns: minmax(auto,auto);
        height: auto; 
    }
    .IntroTextFirst {
        font-size: 64px;
        font-weight: 800;
        margin: 0;
    }
    .IntroTextFirst p {
        margin-top: 10px;
    }
    .dinamic{
        margin: auto;
    }
    .contentChild img { 
        height: 100vh;
        width: 100vw;
    }
    .PojectsParent{
        grid-template-columns: 1fr;
        justify-content: center;
    }
}