.fondo-imagen img{
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    filter: brightness(70%) ;
    transition: opacity 0.3s ease; /* Transición suave */
}
.content {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 300px;
    margin-left: 30px;
}
.content h1{
    font-weight: 600;
    font-size: 150px;
}
.content h2{
    margin-top: 20px;
    font-weight: 100;
}
.info-column h4{
    font-size: 30px;
}
.info-column p{
    font-size: 15px;
    font-weight: 100;
}
.parallax-container {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
section.data{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
}
.description-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
}
.legend h1{
    font-size: 40px;
}
.legend p{
    font-size: 20px;
}
.legend-img {
    display: grid;
    grid-template-columns: 50vw 50vw;
    margin:30px;
}
.legend-img img{
    max-width: 80%;
    grid-template-columns: 1/3;
}
