<div class="parallax-container" >
            <div class="fondo-imagen" >
                <img  [src]="proyecto?.url"  alt="" >
            </div>
                <div  class="content">
                    <h1>{{proyecto?.name}}</h1>
                    <h2>Información del Proyecto</h2>
                    <section class="data">
                        <div class="info-column">
                            <h4>Tipologia</h4>
                            <p>{{proyecto?.tipologia}}</p>  
                        </div>
                        <div class="info-column">
                            <h4>Ubicación</h4>
                            <p>{{proyecto?.ubication}}</p>  
                        </div>
                        <div class="info-column">
                            <h4>Año</h4>
                            <p>{{proyecto?.anio}}</p>  
                        </div>
                    </section>
                </div>
        </div> 
        <article class="description-project">
            <div class="legend">
                <h1>{{proyecto?.name}}</h1>
            </div>
            <div class="legend">
                <p>
                    {{proyecto?.description}}
                </p>
            </div>
        </article>   
        <div class="legend-img">
            <img src="assets/img/Atlas/{{id}}/main.png" alt="">
            <img src="assets/img/Atlas/{{id}}/pic1.png" alt="">
            <img src="assets/img/Atlas/{{id}}/pic2.png" alt="">
        </div>

