<div class="parallax-container">
            <div class="fondo-imagen"></div>
                <div class="content">
                    <h1>Delta</h1>
                    <h2>Información del Proyecto</h2>
                    <section class="data">
                        <div class="info-column">
                            <h4>Tipologia</h4>
                            <p>Remodelación Oficina</p>  
                        </div>
                        <div class="info-column">
                            <h4>Ubicación</h4>
                            <p>Republica del salvador</p>  
                        </div>
                        <div class="info-column">
                            <h4>Año</h4>
                            <p>2024</p>  
                        </div>
                    </section>
                </div>
        </div> 
        <article class="description-project">
            <div class="legend">
                <h1>Delta</h1>
            </div>
            <div class="legend">
                <p>
                    Remodelación de una sala de un estudio juridico
                                en la cual se restauro los muros de madera, y se agrego una nueva pintura especial
                                a demas se construyo un mueble para recepción a medida, diseños y luces en el gypsum.
                </p>
            </div>
        </article>   
        <div class="legend-img">
            <img src="/img/Atlas/delta/entrada.png" alt="">
            <img src="/img/Atlas/delta/silla.png" alt="">
        </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var parallax = document.querySelector(".fondo-imagen");
    window.addEventListener("scroll", function() {
        var offset = window.pageYOffset;
        parallax.style.backgroundPositionY = offset * 0.5 + "px"; // Ajusta el valor 0.5 según la intensidad del efecto deseado
    });
});

</script>

