<footer>
    <div class="footerContain">
        <div class="logo">
            <img src="/assets/img/Atlas/Logos/logo-group.svg" alt="">
        </div>  
        <div class="menu">
            <ul>
                <li><a href="/index.html"></a>Inicio</li>
                <li><a href="/Views/projects/projects.html"></a>Proyectos</li>
                <li><a href="/Views/tienda/tienda.html"></a>Tienda</li>
                <li><a href="/Views/contact/contacto.html"></a>Contactanos</li>
            </ul>
        </div>  
        <div class="info">
            <u> 
                <li><a href="mailto:">info&#64;estudioatlas.com</a></li>
                <li><a href="mailto:atlas-estudio@outlook.com">atlas&#45;estudio&#64;outlook.com</a></li>
                <li><a href="tel:+59399387823">+59399387823</a></li>
            </u>
        </div>  
        <div class="social">
            <h2>siguenos en</h2>
           <ul>
            <li><a href="https://www.instagram.com/estudioatlasec/">Instagram</a></li>
            <li><a href=""></a>Linkedin</li>
           </ul>
        </div>  
    </div>
</footer>
<div class="copyright">
    <p>Copyright {{anio}} Atlas Studio. Todos los Derechos Reservados </p>
</div>